body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #2B547E;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color:aqua;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}



.featured-books {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #2B547E;
    color: #fff;
    text-align: center;
    padding: 20px;
}