
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.book-info-container {
    margin-bottom: 20px;
}

.book-info {
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.image-container {
    position: relative;
    margin-bottom: 20px;
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pdfButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.return-to-home {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

.return-to-home:hover {
    color: #000;
}
